Atividades
===

Essas atividade são relativas a aulas de extração de atributos e selecão de atributos. 
- Link para video: https://drive.google.com/file/d/13LLQGLt7QsjKshBXgUdJ4RVOT8N252cU/view
- Link para apresentação: https://docs.google.com/presentation/d/1wctFgQe7TSlBEypZbVQqqsfrnpSgOeXPSO-mCJ6jIz4


> Lembre de criar uma `virtualenv` com os `requirements.txt` do repositório.

> Lembre de criar uma `kernel` do jupyter para seus desenvolvimentos

> **MANTENHA** essa arquivo no local padrão do repositório. Detro da pasta **feature_extraction_and_feature_selection**.

> Enviei apenas o seu notebook para correção. Não é necessário enviar nenhum outro arquivo. Siga o padrão `Atividades-<NOME-DO-ALUNO>.ipynb`

# Feature Extraction

## 1. Realizar a extração de atributos utilzando as técnicas Fourier e HOS nas bases de dados

- Dados de falhas em aerogeradores

As orientações abaixo devem ser seguidas antes de iniciar os trabalhos

> Todo os arquivos nomeados com `v000_ ... .csv` são referentes a essa base.

> A classe referente ao dado está representada por uma TAG no nome do arquivo da seguinte forma: `v000_NORMAL_ ... .csv` é o dado referente a classe de funcionamento normal do gerador. A TAG `v000_SC_LI_LVL3_ ... .csv` é a classe referente a falha tipo 1 e continua. Não se preocupem com a ordem de enumeração das classes nesse momento.

> Há 5 arquivos na pasta.

> Utilizar as colunas a `Current_R`, `Current_S`, `Current_T` para realizar extração de atributos. Perceba que cada coluna é referente a uma sinal de corrente elétrica, portanto cada um são representados vetores de dimensões $1x50000$.

> Antes de realizar a extração de atributos deve-se dividir cada sinal em 10 partes de tamanho $1x5000$. A ideia aqui é aumentar o número de amostra da base de dados por 10. Pense que cada parte é um recorte do sinal, e ao serem concatenadas retornarão o sinal original.

# Imports

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from os import path

In [33]:
DATAFOLDER = path.join('data')
DATAFILES = [
    'v000_FAULT_SC_HI_LVL2_FR6000_FG5942_L000_0,6IN_SENSORC.csv',
    'v000_FAULT_SC_LI_LVL3_FR4500_FG4365_L000_0,8IN_SENSORC.csv',
    'v000_FAULT_SC_LI_LVL3_FR6000_FG5927_L000_0,4IN_SENSORC.csv',
    'v000_NORMAL_FR4500_FG4385_L000_1,0IN_SENSORC.csv',
    'v000_NORMAL_FR6000_FG5955_L000_0,5IN_SENSORC.csv'
]

### Carregue a base

In [34]:
df_falha_1 = pd.read_csv(path.join(DATAFOLDER, DATAFILES[0]))
df_falha_2 = pd.read_csv(path.join(DATAFOLDER, DATAFILES[1]))
df_falha_3 = pd.read_csv(path.join(DATAFOLDER, DATAFILES[2]))

In [35]:
df_normal_1 = pd.read_csv(path.join(DATAFOLDER, DATAFILES[3]))
df_normal_2 = pd.read_csv(path.join(DATAFOLDER, DATAFILES[4]))

In [196]:
DATAFRAMES = [df_falha_1,df_falha_2, df_falha_3, df_normal_1, df_normal_2]

### a) Comparativo da média do sinal e sua distribuição

- Realize o calculo da média e desvio padrão em cada um dos sinais e exiba o print(falha_1)
df_falha_1.head()resultado em um dataframe. Discuta suas conclusões.

**help**: utilize as funcões nativas do numpy ou do pandas. Lembre que o sinal é uma senoide, qual a média em uma senoide simétrica?

## Calculando Médias e Desvio Padrão das Correntes

In [107]:
def split_df(df):
    mean_current_R_falha_1 = []
    mean_current_S_falha_1 = []
    mean_current_T_falha_1 = []

    std_current_R_falha_1 = []
    std_current_S_falha_1 = []
    std_current_T_falha_1 = []

    for index in range(0,50000,5000):

        mean_current_R_falha_1.append((df.Current_R[index:index+5001].max() * 2) / np.pi)
        mean_current_S_falha_1.append((df.Current_S[index:index+5001].max() * 2) / np.pi)
        mean_current_T_falha_1.append((df.Current_T[index:index+5001].max() * 2) / np.pi)

        std_current_R_falha_1.append(df.Current_R[index:index+5001].std())
        std_current_S_falha_1.append(df.Current_R[index:index+5001].std())
        std_current_T_falha_1.append(df.Current_R[index:index+5001].std())

    data = {'mean_current_r':mean_current_R_falha_1,
            'mean_current_s': mean_current_S_falha_1,
            'mean_current_t': mean_current_T_falha_1, 
            'std_current_r': std_current_R_falha_1,
            'std_current_s':std_current_S_falha_1, 
            'std_current_t':std_current_T_falha_1}
    res_df = pd.DataFrame(data=data)
    return res_df

In [108]:
dataframes = [df_falha_1, df_falha_2, df_falha_3, df_normal_1, df_normal_2]
df_mean_std = []
for index in dataframes:
    df_mean_std.append(split_df(index))

# Samples

#### v000_FAULT_SC_HI_LVL2_FR6000_FG5942_L000_0,6IN_SENSORC.csv

In [109]:
df_mean_std[0]

,mean_current_r,mean_current_s,mean_current_t,std_current_r,std_current_s,std_current_t
0,1.707599,1.594273,1.726808,1.291680,1.291680,1.291680
1,1.675197,1.958834,1.710607,1.297518,1.297518,1.297518
2,1.577991,1.837313,1.305573,1.295065,1.295065,1.295065
3,1.480786,1.472753,2.391064,1.294433,1.294433,1.294433
4,1.812905,1.918327,2.002231,1.296633,1.296633,1.296633
5,1.505087,1.845415,1.726808,1.289020,1.289020,1.289020
6,1.642795,2.007442,1.540493,1.296824,1.296824,1.296824
7,1.545589,1.918327,1.637701,1.296582,1.296582,1.296582
8,1.553690,1.707692,2.528775,1.296147,1.296147,1.296147
9,1.683298,2.112759,1.637701,1.298409,1.298409,1.298409

#### v000_FAULT_SC_LI_LVL3_FR4500_FG4365_L000_0,8IN_SENSORC.csv

In [63]:
df_mean_std[1]

,mean_current_r,mean_current_s,mean_current_t,std_current_r,std_current_s,std_current_t
0,2.801163,3.846447,3.598065,3.102091,3.102091,3.102091
1,3.951431,2.906691,3.160628,3.136950,3.136950,3.136950
2,4.008135,2.906691,3.209232,3.173438,3.173438,3.173438
3,3.684115,2.971502,3.039118,3.175530,3.175530,3.175530
4,3.578809,3.295556,3.314541,3.159931,3.159931,3.159931
5,3.392498,3.344164,3.306440,3.104912,3.104912,3.104912
6,3.902828,3.287454,3.209232,3.144244,3.144244,3.144244
7,3.870426,3.165934,2.925708,3.159276,3.159276,3.159276
8,3.351996,2.930995,2.917608,3.173540,3.173540,3.173540
9,4.064838,3.093022,3.087722,3.160334,3.160334,3.160334

#### v000_FAULT_SC_LI_LVL3_FR6000_FG5927_L000_0,4IN_SENSORC.csv

In [64]:
df_mean_std[2]

,mean_current_r,mean_current_s,mean_current_t,std_current_r,std_current_s,std_current_t
0,1.902010,2.396306,1.629600,1.557255,1.557255,1.557255
1,1.772403,1.440347,1.580996,1.548514,1.548514,1.548514
2,2.064020,1.602374,1.305573,1.568328,1.568328,1.568328
3,1.918211,1.804908,1.240768,1.567063,1.567063,1.567063
4,1.748101,1.440347,2.334359,1.561399,1.561399,1.561399
5,2.007317,1.780604,1.775412,1.550038,1.550038,1.550038
6,1.764302,1.521361,1.491889,1.558286,1.558286,1.558286
7,1.999216,1.918327,1.265070,1.567006,1.567006,1.567006
8,1.885809,1.610476,1.224567,1.572937,1.572937,1.572937
9,1.991116,1.553766,2.002231,1.559266,1.559266,1.559266

#### v000_NORMAL_FR4500_FG4385_L000_1,0IN_SENSORC.csv

In [65]:
df_mean_std[3]

,mean_current_r,mean_current_s,mean_current_t,std_current_r,std_current_s,std_current_t
0,3.473503,3.214542,3.703373,2.919253,2.919253,2.919253
1,3.643613,3.724927,3.055319,2.914496,2.914496,2.914496
2,2.793063,4.186704,4.254219,2.868156,2.868156,2.868156
3,3.481604,3.376569,4.067904,2.909832,2.909832,2.909832
4,3.457302,3.465684,3.922092,2.914338,2.914338,2.914338
5,3.514005,3.336062,3.411749,2.912313,2.912313,2.912313
6,3.335795,3.951765,2.941910,2.920182,2.920182,2.920182
7,3.133283,4.235312,3.792481,2.879444,2.879444,2.879444
8,2.938872,3.238846,4.229917,2.906773,2.906773,2.906773
9,3.433001,3.489988,3.711474,2.921137,2.921137,2.921137

#### v000_NORMAL_FR6000_FG5955_L000_0,5IN_SENSORC.csv'

In [66]:
df_mean_std[4]

,mean_current_r,mean_current_s,mean_current_t,std_current_r,std_current_s,std_current_t
0,1.375479,1.877820,1.670104,1.183187,1.183187,1.183187
1,1.999216,2.056050,1.905023,1.181967,1.181967,1.181967
2,1.577991,1.723895,2.326258,1.189432,1.189432,1.189432
3,1.480786,1.796807,1.783513,1.188224,1.188224,1.188224
4,1.796704,1.488956,1.662003,1.189019,1.189019,1.189019
5,1.343078,1.699591,1.386580,1.184683,1.184683,1.184683
6,1.221570,1.545665,1.945527,1.178867,1.178867,1.178867
7,1.658996,1.634780,1.645802,1.182652,1.182652,1.182652
8,1.658996,1.505158,1.516191,1.184099,1.184099,1.184099
9,1.399781,1.424145,1.589097,1.181296,1.181296,1.181296

### b) Extração de atributos no sinal

- Utilize o código de `feature_extraction_signal` em: https://github.com/navarmn/feature_extraction_signal
- Use as classes `Fourier` e `HOS` de maneira adequada. Lembre do método `.transform()`.
- Na classe `Fourier`utilize os parâmetros: `fs=5000`; o valor de fundamental está na TAG do nome em `_FG5955_`significa `fundamental=59.55`. `harmonics=(0.5, 1, 1.5, 2.5, 3, 5, 7)`, mas sintam-se à vontade para buscar outras harmônicas;
- Os rótulos devem serem impostos de acordo com a descrição da tag feita cima. 
- Monte um dataframe que contenham os atributos em cada coluna e a útlima com o rótulo. Concatene os artibutos extraídos da `Current_R`, `Current_S` e `Current_T`.
- Deverá ser feito um dataframe para os atributos de Fourier e um para os atributos de HOS.

In [1]:
!git clone https://github.com/navarmn/feature_extraction_signal.git

Cloning into 'feature_extraction_signal'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 18 (delta 0), reused 3 (delta 0), pack-reused 15
Unpacking objects: 100% (18/18), done.

In [2]:
!ls

Atividades.ipynb  data			     requirements.txt
Untitled.ipynb	  feature_extraction_signal

In [40]:
from feature_extraction_signal.src import feature_extraction

In [100]:
df_falha_1

,Current_R,Current_S,Current_T,Current_hall_R,Current_hall_S,Current_hall_T,Freq_Rated,Freq_Gen,CC_bus,Power,Load,I_R_rms,I_S_rms,I_T_rms
0,0.366486,1.117192,-1.372104,2.298109,2.616753,2.420486,60,59.42,218,0.13,0,1.295173,1.211041,1.249027
1,0.570073,1.193545,-1.804737,2.331253,2.596358,2.435783,60,59.42,218,0.13,0,1.295173,1.211041,1.249027
2,1.028144,0.964485,-1.473900,2.323605,2.654994,2.400091,60,59.42,218,0.13,0,1.295173,1.211041,1.249027
3,-0.206103,0.989936,-1.919258,2.364398,2.614204,2.420486,60,59.42,218,0.13,0,1.295173,1.211041,1.249027
4,1.091765,0.735425,-1.550247,2.356749,2.680488,2.382245,60,59.42,218,0.13,0,1.295173,1.211041,1.249027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1.651630,-0.308071,-0.964920,2.522472,2.644797,2.298115,60,59.42,218,0.13,0,1.295173,1.211041,1.249027
49996,1.867941,-0.664387,-1.308482,2.517373,2.614204,2.308313,60,59.42,218,0.13,0,1.295173,1.211041,1.249027
49997,1.689803,-0.562583,-0.952195,2.553067,2.624402,2.280270,60,59.42,218,0.13,0,1.295173,1.211041,1.249027
49998,1.944287,-0.906173,-1.130338,2.545418,2.578512,2.308313,60,59.42,218,0.13,0,1.295173,1.211041,1.249027
49999,1.689803,-0.791643,-0.735878,2.586211,2.616753,2.295566,60,59.42,218,0.13,0,1.295173,1.211041,1.249027

In [192]:
def split_df(df):
    current_r = []
    current_s = []
    current_t = []
    res_df = []

    for index in range(0,50000,5000):

        current_r.append(df.Current_R[index:index+5000])
        current_s.append(df.Current_S[index:index+5000])
        current_t.append(df.Current_T[index:index+5000])
        
    for index in range(10):
        
        data = {
            'current_r':current_r[index],
            'current_s': current_s[index],
            'current_t': current_t[index]
           }
        
        res_df.append(pd.DataFrame(data=data))
    
    return res_df

In [215]:
splitted_dataframes = []
name = ['Falha 1', 'Falha 2', 'Falha 3', 'Normal 1', 'Normal 2']
for index in range(len(DATAFRAMES)):
    splitted_dataframes.append(split_df(DATAFRAMES[index]))


for i in range(5):
    for j in range(10):
        splitted_dataframes[i][j]['file'] = name[i]
splitted_dataframes

[[      current_r  current_s  current_t     file
  0      0.366486   1.117192  -1.372104  Falha 1
  1      0.570073   1.193545  -1.804737  Falha 1
  2      1.028144   0.964485  -1.473900  Falha 1
  3     -0.206103   0.989936  -1.919258  Falha 1
  4      1.091765   0.735425  -1.550247  Falha 1
  ...         ...        ...        ...      ...
  4995   1.155386  -1.898767   0.803788  Falha 1
  4996   0.799109  -1.338842   0.625644  Falha 1
  4997   0.977247  -1.949669   1.058278  Falha 1
  4998   0.595521  -1.402470   0.854686  Falha 1
  4999   0.735488  -1.987846   1.160074  Falha 1

  [5000 rows x 4 columns],       current_r  current_s  current_t     file
  5000   0.391934  -1.427921   1.121900  Falha 1
  5001   0.531900  -1.695158   1.350942  Falha 1
  5002   0.201071  -1.453372   1.338217  Falha 1
  5003   0.086553  -1.491549   1.465462  Falha 1
  5004  -0.104310  -1.389744   1.567258  Falha 1
  ...         ...        ...        ...      ...
  9995  -1.707559   1.486233   0.142113  Falha 1
  9996  -1.542144   1.537135  -0.048755  Falha 1
  9997  -1.440351   1.588038  -0.163275  Falha 1
  9998  -1.465799   1.778921  -0.315970  Falha 1
  9999  -1.249488   1.613489  -0.354143  Falha 1

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  10000  -1.325833   1.957079  -0.583184  Falha 1
  10001  -0.982279   1.562586  -0.557735  Falha 1
  10002  -1.211315   2.071609  -0.684980  Falha 1
  10003  -0.676899   1.397154  -0.786777  Falha 1
  10004  -1.007728   1.855274  -0.977644  Falha 1
  ...          ...        ...        ...      ...
  14995   1.778872  -0.867996  -0.964920  Falha 1
  14996   1.957011  -0.957075  -0.824950  Falha 1
  14997   1.715251  -1.071605  -0.723154  Falha 1
  14998   1.867941  -1.147959  -0.570460  Falha 1
  14999   1.486215  -1.224312  -0.430490  Falha 1

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  15000   1.715251  -1.326116  -0.265072  Falha 1
  15001   1.460767  -1.338842  -0.061479  Falha 1
  15002   1.549836  -1.491549   0.027592  Falha 1
  15003   1.486215  -1.555177   0.154837  Falha 1
  15004   1.384422  -1.580628   0.256633  Falha 1
  ...          ...        ...        ...      ...
  19995  -1.669386   0.162775   1.592707  Falha 1
  19996  -1.720283   0.302756   1.529085  Falha 1
  19997  -1.898422   0.353658   1.109176  Falha 1
  19998  -1.822077   0.531816   1.389115  Falha 1
  19999  -1.822077   0.544541   1.223696  Falha 1

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  20000  -1.860249   0.735425   1.109176  Falha 1
  20001  -1.923870   0.760876   0.981931  Falha 1
  20002  -1.847525   1.015387   0.931033  Falha 1
  20003  -1.847525   1.028113   0.816512  Falha 1
  20004  -1.809352   1.180820   0.740165  Falha 1
  ...          ...        ...        ...      ...
  24995   0.939075   0.633620  -1.613870  Falha 1
  24996   1.129938   0.684523  -2.059228  Falha 1
  24997   1.397146   0.430011  -1.639319  Falha 1
  24998   1.053593   0.468188  -2.071952  Falha 1
  24999   1.358973   0.188226  -1.626594  Falha 1

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  25000   1.346249   0.239128  -1.664768  Falha 1
  25001   1.498940   0.048244  -1.601145  Falha 1
  25002   1.588009  -0.066286  -1.524798  Falha 1
  25003   1.689803  -0.333522  -1.499349  Falha 1
  25004   1.142662  -0.269895  -1.283032  Falha 1
  ...          ...        ...        ...      ...
  29995  -0.180655  -1.377019   1.732677  Falha 1
  29996  -0.218827  -1.211586   1.567258  Falha 1
  29997  -0.524208  -1.249763   1.834473  Falha 1
  29998  -0.396966  -0.969801   1.579983  Falha 1
  29999  -0.765968  -1.071605   1.974443  Falha 1

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  30000  -0.651450  -0.689838   1.465462  Falha 1
  30001  -1.020452  -0.931624   2.101688  Falha 1
  30002  -0.918658  -0.498955   1.440013  Falha 1
  30003  -1.249488  -0.893447   1.859922  Falha 1
  30004  -1.160418  -0.269895   1.465462  Falha 1
  ...          ...        ...        ...      ...
  34995  -0.880486   1.753470  -1.015818  Falha 1
  34996  -0.422415   1.308075  -1.053991  Falha 1
  34997  -0.524208   1.638940  -1.206685  Falha 1
  34998  -0.231552   1.358977  -1.219410  Falha 1
  34999  -0.167931   1.473508  -1.397553  Falha 1

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  35000   0.035657   1.333526  -1.448451  Falha 1
  35001   0.124726   1.308075  -1.524798  Falha 1
  35002   0.302865   1.308075  -1.715666  Falha 1
  35003   0.315589   1.155368  -1.639319  Falha 1
  35004   0.595521   1.168094  -1.893809  Falha 1
  ...          ...        ...        ...      ...
  39995   1.282628  -1.555177   0.294807  Falha 1
  39996   1.333525  -1.809688   0.396603  Falha 1
  39997   1.091765  -1.606079   0.511124  Falha 1
  39998   1.206283  -1.669707   0.638369  Falha 1
  39999   0.900902  -1.631530   0.740165  Falha 1

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  40000   0.939075  -1.746060   0.841961  Falha 1
  40001   0.595521  -1.593353   0.969206  Falha 1
  40002   0.633694  -1.669707   1.058278  Falha 1
  40003   0.264692  -1.402470   1.185523  Falha 1
  40004   0.315589  -1.580628   1.261870  Falha 1
  ...          ...        ...        ...      ...
  44995  -1.758456   1.295350   0.638369  Falha 1
  44996  -1.707559   1.308075   0.612920  Falha 1
  44997  -1.567593   1.511684   0.294807  Falha 1
  44998  -1.567593   1.498959   0.409328  Falha 1
  44999  -1.402178   1.537135   0.231184  Falha 1

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  45000  -1.427626   1.549861   0.193011  Falha 1
  45001  -1.198591   1.473508  -0.099653  Falha 1
  45002  -1.325833   1.753470  -0.137826  Falha 1
  45003  -1.160418   1.562586  -0.188724  Falha 1
  45004  -1.096797   1.804372  -0.430490  Falha 1
  ...          ...        ...        ...      ...
  49995   1.651630  -0.308071  -0.964920  Falha 1
  49996   1.867941  -0.664387  -1.308482  Falha 1
  49997   1.689803  -0.562583  -0.952195  Falha 1
  49998   1.944287  -0.906173  -1.130338  Falha 1
  49999   1.689803  -0.791643  -0.735878  Falha 1

  [5000 rows x 4 columns]], [      current_r  current_s  current_t     file
  0      4.043780  -2.675026  -1.804737  Falha 2
  1      4.158297  -2.929537  -1.601145  Falha 2
  2      3.929262  -2.916812  -1.423002  Falha 2
  3      4.018331  -3.158598  -1.257583  Falha 2
  4      3.802020  -3.158598  -1.066716  Falha 2
  ...         ...        ...        ...      ...
  4995  -1.911146   3.827737  -1.321206  Falha 2
  4996  -2.369217   2.949673  -1.053991  Falha 2
  4997  -2.458287   3.865913  -1.715666  Falha 2
  4998  -2.241975   2.949673  -1.448451  Falha 2
  4999  -2.051112   3.802286  -2.059228  Falha 2

  [5000 rows x 4 columns],       current_r  current_s  current_t     file
  5000  -1.516696   2.898771  -1.830187  Falha 2
  5001  -1.542144   3.675030  -2.262820  Falha 2
  5002  -1.287660   2.847868  -2.122850  Falha 2
  5003  -1.096797   3.013301  -2.377341  Falha 2
  5004  -0.829589   2.644259  -2.377341  Falha 2
  ...         ...        ...        ...      ...
  9995  -2.165630  -1.377019   3.857670  Falha 2
  9996  -1.885698  -0.511680   2.992404  Falha 2
  9997  -2.687322  -1.122507   3.679527  Falha 2
  9998  -2.394666  -0.231718   2.928781  Falha 2
  9999  -3.119945  -0.944350   3.794048  Falha 2

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  10000  -2.852737   0.060970   2.788811  Falha 2
  10001  -3.578016  -0.308071   3.704976  Falha 2
  10002  -3.323532   0.302756   2.941506  Falha 2
  10003  -3.743431   0.048244   3.615905  Falha 2
  10004  -3.628913   0.468188   3.132373  Falha 2
  ...          ...        ...        ...      ...
  14995   4.909025  -2.166004  -2.402790  Falha 2
  14996   3.903813  -1.835139  -2.224646  Falha 2
  14997   5.214406  -2.305985  -2.071952  Falha 2
  14998   3.814744  -2.115101  -1.893809  Falha 2
  14999   4.412781  -2.636849  -1.702941  Falha 2

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  15000   3.496639  -2.407789  -1.461176  Falha 2
  15001   4.692714  -2.853184  -1.295757  Falha 2
  15002   3.382121  -2.687752  -1.079440  Falha 2
  15003   4.489127  -3.056793  -0.939471  Falha 2
  15004   3.394845  -2.051474  -0.748603  Falha 2
  ...          ...        ...        ...      ...
  19995  -2.852737   1.893451  -0.328694  Falha 2
  19996  -2.623701   3.700481  -0.659531  Falha 2
  19997  -2.483735   3.242361  -0.824950  Falha 2
  19998  -2.216527   3.305989  -0.990369  Falha 2
  19999  -2.051112   3.178733  -1.104889  Falha 2

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  20000  -1.707559   3.509598  -1.372104  Falha 2
  20001  -1.542144   3.051477  -1.473900  Falha 2
  20002  -1.262212   3.369617  -1.753839  Falha 2
  20003  -1.084073   2.936947  -1.753839  Falha 2
  20004  -0.791416   2.631534  -2.008330  Falha 2
  ...          ...        ...        ...      ...
  24995  -0.905934  -2.026022   2.610668  Falha 2
  24996  -1.173142  -1.936943   3.552282  Falha 2
  24997  -1.389454  -1.669707   2.992404  Falha 2
  24998  -1.682110  -1.542451   3.552282  Falha 2
  24999  -1.860249  -1.326116   3.106924  Falha 2

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  25000  -2.203803  -1.224312   3.399588  Falha 2
  25001  -2.381941  -0.969801   3.043302  Falha 2
  25002  -2.700046  -0.867996   3.374139  Falha 2
  25003  -2.852737  -0.664387   3.310516  Falha 2
  25004  -3.081772  -0.600759   4.252130  Falha 2
  ...          ...        ...        ...      ...
  29995   3.725675  -0.269895  -3.255332  Falha 2
  29996   3.840192  -0.753466  -3.318954  Falha 2
  29997   3.827468  -0.575308  -3.000842  Falha 2
  29998   4.107401  -1.186135  -3.051740  Falha 2
  29999   3.700226  -0.880722  -2.542759  Falha 2

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  30000   3.700226  -1.567902  -2.771800  Falha 2
  30001   3.954710  -1.326116  -2.071952  Falha 2
  30002   4.425506  -2.026022  -2.504586  Falha 2
  30003   4.247367  -1.707883  -1.753839  Falha 2
  30004   4.196470  -2.407789  -2.262820  Falha 2
  ...          ...        ...        ...      ...
  34995  -3.896121   3.395068   0.218460  Falha 2
  34996  -3.794328   3.522323  -0.036030  Falha 2
  34997  -3.438050   3.267812  -0.137826  Falha 2
  34998  -3.603465   3.815011  -0.519562  Falha 2
  34999  -2.967255   3.178733  -0.494113  Falha 2

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  35000  -3.374429   4.056797  -0.939471  Falha 2
  35001  -2.381941   3.026026  -0.812226  Falha 2
  35002  -3.030876   4.158601  -1.359380  Falha 2
  35003  -2.051112   2.682436  -1.079440  Falha 2
  35004  -2.712771   4.260406  -1.537523  Falha 2
  ...          ...        ...        ...      ...
  39995  -0.078861  -2.433240   2.763362  Falha 2
  39996  -0.422415  -2.178729   2.877883  Falha 2
  39997  -0.689623  -2.038748   2.979679  Falha 2
  39998  -0.982279  -1.949669   3.895844  Falha 2
  39999  -1.084073  -1.682432   3.056026  Falha 2

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  40000  -1.491247  -1.695158   2.547046  Falha 2
  40001  -1.465799  -1.300665   3.145098  Falha 2
  40002  -2.076561  -1.415195   3.145098  Falha 2
  40003  -1.936594  -0.918898   3.208720  Falha 2
  40004  -2.598253  -0.880722   3.208720  Falha 2
  ...          ...        ...        ...      ...
  44995   4.120125  -0.995252  -3.497098  Falha 2
  44996   4.107401  -1.351568  -3.382577  Falha 2
  44997   4.298264  -1.046154  -3.344403  Falha 2
  44998   4.361885  -1.211586  -3.217158  Falha 2
  44999   4.349160  -1.338842  -3.191709  Falha 2

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  45000   5.227130  -1.300665  -3.051740  Falha 2
  45001   4.336436  -1.466098  -3.000842  Falha 2
  45002   4.145573  -1.631530  -2.771800  Falha 2
  45003   4.310988  -2.229631  -2.631831  Falha 2
  45004   4.285539  -1.987846  -2.491861  Falha 2
  ...          ...        ...        ...      ...
  49995  -3.959742   2.809692   1.516360  Falha 2
  49996  -3.934294   2.924222   1.529085  Falha 2
  49997  -3.857949   3.038752   1.325493  Falha 2
  49998  -3.756155   3.076929   1.172798  Falha 2
  49999  -3.692534   3.255086   0.931033  Falha 2

  [5000 rows x 4 columns]], [      current_r  current_s  current_t     file
  0      0.608246  -1.631530   0.918308  Falha 3
  1      0.404658  -1.466098   0.981931  Falha 3
  2      0.150174  -1.478823   0.994655  Falha 3
  3      0.048381  -1.262489   1.134625  Falha 3
  4     -0.167931  -1.122507   1.198247  Falha 3
  ...         ...        ...        ...      ...
  4995  -1.707559   0.150049   1.389115  Falha 3
  4996  -1.809352   0.557267   1.363666  Falha 3
  4997  -1.809352   0.544541   1.185523  Falha 3
  4998  -2.038388   0.849955   1.274594  Falha 3
  4999  -1.783904   0.799053   1.020104  Falha 3

  [5000 rows x 4 columns],       current_r  current_s  current_t     file
  5000  -2.114733   1.104466   1.134625  Falha 3
  5001  -2.102009   1.015387   0.892859  Falha 3
  5002  -1.783904   1.358977   1.007380  Falha 3
  5003  -1.911146   1.257173   0.714716  Falha 3
  5004  -2.267424   1.549861   0.854686  Falha 3
  ...         ...        ...        ...      ...
  9995  -1.224039   2.262492  -0.914022  Falha 3
  9996  -0.676899   1.435331  -0.786777  Falha 3
  9997  -1.058625   1.791647  -1.066716  Falha 3
  9998  -0.384242   1.384429  -1.079440  Falha 3
  9999  -0.320621   1.473508  -1.206685  Falha 3

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  10000  -0.091585   1.295350  -1.308482  Falha 3
  10001  -0.027964   1.180820  -1.295757  Falha 3
  10002   0.290141   1.155368  -1.524798  Falha 3
  10003   0.277416   1.002662  -1.308482  Falha 3
  10004   0.684591   0.951759  -1.690217  Falha 3
  ...          ...        ...        ...      ...
  14995   2.186046  -0.918898  -1.295757  Falha 3
  14996   1.829769  -0.817094  -1.079440  Falha 3
  14997   2.389634  -1.275214  -1.143063  Falha 3
  14998   1.651630  -1.020703  -0.850399  Falha 3
  14999   2.555048  -1.351568  -0.863124  Falha 3

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  15000   1.689803  -1.058880  -0.608633  Falha 3
  15001   2.313288  -1.529725  -0.659531  Falha 3
  15002   1.740699  -1.313391  -0.366868  Falha 3
  15003   2.109701  -1.644256  -0.392317  Falha 3
  15004   1.791596  -1.567902  -0.201449  Falha 3
  ...          ...        ...        ...      ...
  19995   0.201071  -1.237037   1.134625  Falha 3
  19996   0.099278  -1.300665   1.287319  Falha 3
  19997  -0.167931  -1.186135   1.414564  Falha 3
  19998  -0.295173  -1.084331   1.465462  Falha 3
  19999  -0.549657  -1.058880   1.554534  Falha 3

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  20000  -0.562381  -0.880722   1.541809  Falha 3
  20001  -0.880486  -0.855271   1.529085  Falha 3
  20002  -0.829589  -0.664387   1.579983  Falha 3
  20003  -1.096797  -0.588034   1.554534  Falha 3
  20004  -1.084073  -0.371699   1.605432  Falha 3
  ...          ...        ...        ...      ...
  24995  -2.114733   1.320801   0.727440  Falha 3
  24996  -2.305596   1.422605   1.007380  Falha 3
  24997  -2.102009   1.511684   0.880135  Falha 3
  24998  -2.203803   1.575312   0.778338  Falha 3
  24999  -1.974767   1.689842   0.676542  Falha 3

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  25000  -2.140182   1.766196   0.511124  Falha 3
  25001  -1.860249   1.778921   0.472950  Falha 3
  25002  -1.974767   1.855274   0.383879  Falha 3
  25003  -1.949319   1.817098   0.256633  Falha 3
  25004  -1.822077   1.957079   0.193011  Falha 3
  ...          ...        ...        ...      ...
  29995   0.213795   1.168094  -1.397553  Falha 3
  29996   0.290141   0.939034  -1.117614  Falha 3
  29997   0.481004   0.913583  -1.588421  Falha 3
  29998   0.697315   0.671797  -1.257583  Falha 3
  29999   0.862730   0.697248  -1.702941  Falha 3

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  30000   0.799109   0.442737  -1.384829  Falha 3
  30001   1.397146   0.455462  -1.817462  Falha 3
  30002   1.257180   0.226402  -1.435727  Falha 3
  30003   1.448043   0.239128  -1.830187  Falha 3
  30004   1.511664  -0.040835  -1.473900  Falha 3
  ...          ...        ...        ...      ...
  34995   1.893390  -1.377019  -0.468664  Falha 3
  34996   2.415082  -1.695158  -0.545011  Falha 3
  34997   1.906114  -1.529725  -0.315970  Falha 3
  34998   2.020632  -1.707883  -0.252347  Falha 3
  34999   1.918838  -1.707883  -0.125102  Falha 3

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  35000   1.918838  -1.593353  -0.099653  Falha 3
  35001   1.817045  -1.949669   0.154837  Falha 3
  35002   1.498940  -1.313391   0.027592  Falha 3
  35003   1.651630  -2.076925   0.409328  Falha 3
  35004   1.244456  -1.402470   0.193011  Falha 3
  ...          ...        ...        ...      ...
  39995  -0.626002  -0.677113   1.465462  Falha 3
  39996  -1.096797  -0.753466   1.630881  Falha 3
  39997  -0.893210  -0.308071   1.465462  Falha 3
  39998  -1.224039  -0.448053   1.656330  Falha 3
  39999  -1.224039  -0.079011   1.618156  Falha 3

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  40000  -1.542144  -0.142639   1.579983  Falha 3
  40001  -1.503972   0.150049   1.312768  Falha 3
  40002  -1.669386   0.162775   1.503636  Falha 3
  40003  -1.733007   0.353658   1.363666  Falha 3
  40004  -1.809352   0.430011   1.427289  Falha 3
  ...          ...        ...        ...      ...
  44995  -1.987491   1.778921   0.065766  Falha 3
  44996  -1.885698   1.868000  -0.074204  Falha 3
  44997  -1.771180   1.817098  -0.150551  Falha 3
  44998  -1.898422   2.173414  -0.201449  Falha 3
  44999  -1.529420   1.804372  -0.328694  Falha 3

  [5000 rows x 4 columns],        current_r  current_s  current_t     file
  45000  -1.860249   2.071609  -0.379592  Falha 3
  45001  -1.300384   1.753470  -0.506837  Falha 3
  45002  -1.516696   1.944353  -0.557735  Falha 3
  45003  -0.982279   1.626214  -0.710429  Falha 3
  45004  -1.134970   1.778921  -0.761327  Falha 3
  ...          ...        ...        ...      ...
  49995   1.295352   0.239128  -1.766564  Falha 3
  49996   1.371698   0.137323  -1.664768  Falha 3
  49997   1.524388  -0.079011  -1.524798  Falha 3
  49998   1.409870  -0.155365  -1.588421  Falha 3
  49999   1.727975  -0.320797  -1.486625  Falha 3

  [5000 rows x 4 columns]], [      current_r  current_s  current_t      file
  0      0.735488   3.191459  -4.273293  Normal 1
  1      0.799109   2.784241  -3.955180  Normal 1
  2      1.333525   2.975124  -4.629579  Normal 1
  3      1.282628   2.338846  -4.044252  Normal 1
  4      1.893390   2.758789  -4.629579  Normal 1
  ...         ...        ...        ...       ...
  4995  -3.145393   3.827737  -1.053991  Normal 1
  4996  -3.069048   3.993169  -0.659531  Normal 1
  4997  -2.979979   4.018620  -0.977644  Normal 1
  4998  -2.725495   4.069523  -1.206685  Normal 1
  4999  -2.814564   3.954992  -1.359380  Normal 1

  [5000 rows x 4 columns],       current_r  current_s  current_t      file
  5000  -2.381941   4.107699  -1.639319  Normal 1
  5001  -2.471011   3.993169  -1.830187  Normal 1
  5002  -2.012940   4.107699  -2.135575  Normal 1
  5003  -2.051112   4.031346  -2.351892  Normal 1
  5004  -1.554868   4.107699  -2.517310  Normal 1
  ...         ...        ...        ...       ...
  9995  -3.972467   0.493639   3.590456  Normal 1
  9996  -3.959742   0.722699   3.475935  Normal 1
  9997  -4.086984   1.015387   3.246894  Normal 1
  9998  -3.959742   1.206271   3.056026  Normal 1
  9999  -4.074260   1.460782   2.852434  Normal 1


### Extracting transform of HOS

In [277]:
fundamentals = [43.85, 59.55, 59.42, 43.65, 59.27]
hos_df = []

for i in range(5):
    res_df = []
    
    for j in range(10):
        fe_hos = feature_extraction.HOS()
        
        hos_R = fe_hos.transform(splitted_dataframes[i][j].current_r)
        hos_S = fe_hos.transform(splitted_dataframes[i][j].current_s)
        hos_T = fe_hos.transform(splitted_dataframes[i][j].current_t)
        
        res_df.append(pd.DataFrame(data={'hos R': hos_R['features'],
                                        'hos S': hos_S['features'],
                                        'hos T': hos_T['features']}))
    hos_df.append(res_df)
    
for i in range(5):
    for j in range(10):
        hos_df[i][j]['file'] = name[i]
        
hos_df[0][9]

      hos R     hos S     hos T     file
0  1.298295  1.217003  1.253678  Falha 1
1  1.685867  1.481183  1.571981  Falha 1
2 -0.002830  0.008132  0.008624  Falha 1
3 -1.464775 -1.417600 -1.432403  Falha 1

### Extracting transform of Fourier

In [281]:
fundamentals = [43.85, 59.55, 59.42, 43.65, 59.27]

fourier_list_features_R = []
fourier_list_features_S = []
fourier_list_features_T = []
fourier_df = []

for i in range(5):
    res_df = []
    
    for j in range(10):
        fe_fourier = feature_extraction.Fourier(fundamental=fundamentals[i], 
                                                fs=500.0, 
                                                harmonics=(0.5, 1, 1.5, 2.5, 3, 5, 7))
        fourier_R = fe_fourier.transform(splitted_dataframes[i][j].current_r)
        fourier_S = fe_fourier.transform(splitted_dataframes[i][j].current_s)
        fourier_T = fe_fourier.transform(splitted_dataframes[i][j].current_t)
        
        res_df.append(pd.DataFrame(data={'Fourier R': fourier_R['features'],
                                        'Fourier S': fourier_S['features'],
                                        'Fourier T': fourier_T['features']}))
    fourier_df.append(res_df)
    
for i in range(5):
    for j in range(10):
        fourier_df[i][j]['file'] = name[i]
        
fourier_df[2][8]

   Fourier R  Fourier S  Fourier T     file
0   0.020058   0.009898   0.008674  Falha 3
1   0.017140   0.011323   0.007258  Falha 3
2   0.019495   0.013612   0.008946  Falha 3
3   0.022746   0.016089   0.011682  Falha 3
4   0.031044   0.028744   0.020799  Falha 3
5   0.109249   0.079394   0.071168  Falha 3
6   0.135636   0.120469   0.100508  Falha 3

### c) Análise exploratória na base criada com os extratores de atributos
- Use a ferramenta `pandas-profiling` https://github.com/pandas-profiling/pandas-profiling
- Faça um resumo do relatório, destacando os principais pontos gerados na base.
- Faça uma análise para cada uma das bases:
    1. Features criada com Fourier
    2. Features criada com HOS
    3. Combinação das duas features (Fourier + HOS). 
> Dica: dê atenção ao coeficiente de correlação.

In [256]:
from pandas_profiling import ProfileReport
import pandas as pd

In [282]:
hos_dataframe = pd.DataFrame(data=[])
fourier_dataframe = pd.DataFrame(data=[])
for i in range(5):
    for j in range(10):
        hos_dataframe = hos_dataframe.append(hos_df[i][j], ignore_index=True)
        fourier_dataframe = fourier_dataframe.append(fourier_df[i][j], ignore_index=True)

     Fourier R  Fourier S  Fourier T      file
0     0.021217   0.007768   0.013092   Falha 1
1     0.025605   0.013324   0.016948   Falha 1
2     0.021720   0.012515   0.015818   Falha 1
3     0.025310   0.016317   0.016890   Falha 1
4     0.027421   0.020085   0.020846   Falha 1
..         ...        ...        ...       ...
345   0.021587   0.014506   0.010458  Normal 2
346   0.024427   0.019574   0.014978  Normal 2
347   0.031097   0.021994   0.022024  Normal 2
348   0.096413   0.093136   0.088770  Normal 2
349   0.144949   0.151445   0.154601  Normal 2

[350 rows x 4 columns]

In [283]:
fourier_dataframe

     Fourier R  Fourier S  Fourier T      file
0     0.021217   0.007768   0.013092   Falha 1
1     0.025605   0.013324   0.016948   Falha 1
2     0.021720   0.012515   0.015818   Falha 1
3     0.025310   0.016317   0.016890   Falha 1
4     0.027421   0.020085   0.020846   Falha 1
..         ...        ...        ...       ...
345   0.021587   0.014506   0.010458  Normal 2
346   0.024427   0.019574   0.014978  Normal 2
347   0.031097   0.021994   0.022024  Normal 2
348   0.096413   0.093136   0.088770  Normal 2
349   0.144949   0.151445   0.154601  Normal 2

[350 rows x 4 columns]

In [284]:
hos_dataframe

        hos R     hos S     hos T      file
0    1.291684  1.211244  1.248681   Falha 1
1    1.668738  1.467376  1.559508   Falha 1
2   -0.004277  0.011664  0.006801   Falha 1
3   -1.446445 -1.418205 -1.415615   Falha 1
4    1.297518  1.211815  1.251374   Falha 1
..        ...       ...       ...       ...
195 -1.439527 -1.422116 -1.418499  Normal 2
196  1.181315  1.189472  1.193156  Normal 2
197  1.395459  1.414840  1.423878  Normal 2
198  0.013562 -0.003599 -0.004169  Normal 2
199 -1.418451 -1.436669 -1.454980  Normal 2

[200 rows x 4 columns]

In [285]:
fourier_hos_dataframe = fourier_dataframe.append(hos_dataframe, ignore_index=True)

In [286]:
fourier_hos_dataframe

     Fourier R  Fourier S  Fourier T      file     hos R     hos S     hos T
0     0.021217   0.007768   0.013092   Falha 1       NaN       NaN       NaN
1     0.025605   0.013324   0.016948   Falha 1       NaN       NaN       NaN
2     0.021720   0.012515   0.015818   Falha 1       NaN       NaN       NaN
3     0.025310   0.016317   0.016890   Falha 1       NaN       NaN       NaN
4     0.027421   0.020085   0.020846   Falha 1       NaN       NaN       NaN
..         ...        ...        ...       ...       ...       ...       ...
545        NaN        NaN        NaN  Normal 2 -1.439527 -1.422116 -1.418499
546        NaN        NaN        NaN  Normal 2  1.181315  1.189472  1.193156
547        NaN        NaN        NaN  Normal 2  1.395459  1.414840  1.423878
548        NaN        NaN        NaN  Normal 2  0.013562 -0.003599 -0.004169
549        NaN        NaN        NaN  Normal 2 -1.418451 -1.436669 -1.454980

[550 rows x 7 columns]

In [265]:
fourier_df[0][0]

      hos R     hos S     hos T     file
0  1.291684  1.211244  1.248681  Falha 1
1  1.668738  1.467376  1.559508  Falha 1
2 -0.004277  0.011664  0.006801  Falha 1
3 -1.446445 -1.418205 -1.415615  Falha 1

In [287]:
profile = ProfileReport(hos_dataframe, title='Pandas Profiling Report', html={'style':{'full_width':True}})
profile.to_widgets()

HBox(children=(FloatProgress(value=0.0, description='variables', max=4.0, style=ProgressStyle(description_widt…

HBox(children=(FloatProgress(value=0.0, description='correlations', max=6.0, style=ProgressStyle(description_w…

HBox(children=(FloatProgress(value=0.0, description='interactions [continuous]', max=9.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='missing', max=2.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…

Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(value='Number of va…

In [288]:
profile = ProfileReport(fourier_dataframe, title='Pandas Profiling Report', html={'style':{'full_width':True}})
profile.to_widgets()

HBox(children=(FloatProgress(value=0.0, description='variables', max=4.0, style=ProgressStyle(description_widt…

HBox(children=(FloatProgress(value=0.0, description='correlations', max=6.0, style=ProgressStyle(description_w…

HBox(children=(FloatProgress(value=0.0, description='interactions [continuous]', max=9.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='missing', max=2.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…

Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(value='Number of va…

In [290]:
profile = ProfileReport(fourier_hos_dataframe, title='Pandas Profiling Report', html={'style':{'full_width':True}})
profile.to_widgets()

HBox(children=(FloatProgress(value=0.0, description='variables', max=7.0, style=ProgressStyle(description_widt…

HBox(children=(FloatProgress(value=0.0, description='correlations', max=6.0, style=ProgressStyle(description_w…

HBox(children=(FloatProgress(value=0.0, description='interactions [continuous]', max=36.0, style=ProgressStyle…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='missing', max=4.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…

Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(value='Number of va…

# Feature Selection

## 1. Realizar um estudo de relevância de atributos utilzando as técnicas exibidas na aula.

Nesse momento utilize a base de dados `Clinical_data_09-09-19-processed.csv`. Uma breve descrição da base:
- Contém um histórico dos registros de pacientes acometidos com uma determinada patologia.
- Os registros são variados, vão desde resposta de questionários médicos de anamnese, por exemplo, "*É fumante nos últimos 5 anos?*", "*Faz uso de álcool constantemente?*", até resultados de exames clínicos como ECG e Ecocardiograma.
- O rótulo dessa base é a coluna `Óbito`.

### Carregue a base

In [1]:
from pandas_profiling import ProfileReport
import pandas as pd

In [2]:
df_clinical = pd.read_csv("data/Clinical_data_09-09-19-processed.csv")

In [3]:
df_clinical.head()

,Paciente,Nome do Paciente,Prontuario,Date Nasc,Sexo,Nat.,BMI,Cancer,HAS,DM2,...,Disf Diastolica,Deficit Seg,NYHA,Rassi pontos,Rassi escore,Diretriz 2005,CDI,Ablações,Amiodarona,Obito
0,NaN,Adão Severo de Souza,333104.0,29/11/1950,1.0,PI,25,0,1.0,1.0,...,1,0,1,2.0,1.0,1.0,0,0,0,0.0
1,NaN,Adão Severo de Souza,333104.0,29/11/1950,1.0,PI,23,0,1.0,1.0,...,1,0,1,2.0,1.0,1.0,0,0,0,0.0
2,NaN,Adão Severo de Souza,333104.0,29/11/1950,1.0,PI,24,0,1.0,1.0,...,1,0,1,2.0,1.0,1.0,0,0,0,0.0
3,NaN,Adão Severo de Souza,333104.0,29/11/1950,1.0,PI,26,0,1.0,1.0,...,1,0,1,2.0,1.0,1.0,0,0,0,0.0
4,NaN,Adão Severo de Souza,333104.0,29/11/1950,1.0,PI,25,0,1.0,1.0,...,1,0,1,2.0,1.0,1.0,0,0,0,0.0

### a) Análise exploratória na base de dados
- Use a ferramenta `pandas-profiling` https://github.com/pandas-profiling/pandas-profiling
- Faça um resumo do relatório, destacando os principais pontos gerados na base.

In [4]:
profile = ProfileReport(df_clinical, title='Pandas Profiling Report', html={'style':{'full_width':True}})

HBox(children=(FloatProgress(value=0.0, description='variables', max=60.0, style=ProgressStyle(description_wid…

HBox(children=(FloatProgress(value=0.0, description='correlations', max=6.0, style=ProgressStyle(description_w…

HBox(children=(FloatProgress(value=0.0, description='interactions [continuous]', max=196.0, style=ProgressStyl…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='missing', max=4.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…

In [5]:
profile.to_widgets()

Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(value='Number of va…

### b) Identicar qual a variáveis parecem influenciar no óbito dos pacientes :(
- Utilize o código `feature_selection_framework` https://github.com/navarmn/feature_selection_framework 
- Monte o resultado em um `DataFrame`, as colunas serão referentes aos métodos e as linhas deverão ser os atributos. Coloque 1 quando o método indicar como relevante e 0 quando o método indicar com não relevante;
- Utilize o seguinte critério para validar um atributo como relevante: moda >= 3

In [14]:
!git clone https://github.com/navarmn/feature_selection_framework.git

Cloning into 'feature_selection_framework'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 12 (delta 1), reused 5 (delta 0), pack-reused 0
Unpacking objects: 100% (12/12), done.

In [20]:
from feature_selection_framework.src import feature_selection

In [53]:
correlacao = feature_selection.Correlation()

In [59]:
print(correlacao.fit(df_clinical.Obito, df_clinical.AVC))

None

## 2. QUESTÃO DESAFIO
- Essa etapa não entrará com atividade avaliativa, pois a base de dados a seguir não é tão bonita quanto parece 🤪. Há muitas etapas de pré-processamento, agrupmaento e mais importante de tudo, o usuário tem que fazer as duas tabelas `weekly-infos-before-shrink.csv` e `user-status-after-shrink.csv` conversarem entre si.
- Fique à vontade para tentar e para tirar dúvidas. 😊

Nesse momento utilize a base de dados `weekly-infos-before-shrink.csv` e `user-status-after-shrink.csv`. Uma breve descrição da base:
- Essa base foi retirada de um serviço de streaming de midia. Os atributos são relativos a perfis de consumo de usuários.
- O objetivo é realizar detecção de *churn* (https://resultadosdigitais.com.br/blog/o-que-e-churn/)
- Possui um registro de 17 semanas de uso e os rótulos estáo na tabela `user-status-after-shrink.csv`, que indicam se ao final do período o usuário cancelou e se manteve assinante.

In [8]:
# code here

### a) Análise exploratória na base de dados
- Use a ferramenta `pandas-profiling` https://github.com/pandas-profiling/pandas-profiling
- Faça um resumo do relatório, destacando os principais pontos gerados na base.
> Exiba a matriz de correlação!

In [9]:
# code here

### b) Identicar qual a variáveis parecem influenciar no cancelamento da assinatura.

- Utilize o código `feature_selection_framework` https://github.com/navarmn/feature_selection_framework 
- Monte o resultado em um `DataFrame`, as colunas serão referentes aos métodos e as linhas deverão ser os atributos. Coloque 1 quando o método indicar como relevante e 0 quando o método indicar com não relevante;
- Utilize o seguinte critério para validar um atributo como relevante: moda >= 3

In [10]:
# code here